<div class="panel" [@fadeInAnimation]>
  <div class="panel-heading">
    <h3>
      <a (click)="onBack()" style="width:80px;text-decoration: none">
        <i class="glyphicon glyphicon-arrow-left"></i> 
    </a> {{pageTitle}}
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <!--<img [src]="ad?.imageUrls[0]" [alt]="ad?.adTitle" class="img-responsive">-->
        <div style="min-height: 300px;max-height: 300px">
          <div id="myCarousel" class="carousel slide" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators" *ngIf="ad?.imageUrls.length > 1">
              <li data-target="#myCarousel" *ngFor="let imageUrl of ad?.imageUrls; let i=index" [ngClass]="{'active': i==0 }"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item" [ngClass]="{'active': i==0 }" *ngFor="let imageUrl of ad?.imageUrls; let i=index">
                <img [src]="imageUrl" alt="Adopt a Plant" class="img-responsive center-block" style="min-height:300px;max-height:300px;">
              </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" *ngIf="ad?.imageUrls.length > 1">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" *ngIf="ad?.imageUrls.length > 1">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div>
          <h4>
            {{ad?.adTitle}}
          </h4>
        </div>
        <div>
          <span class="glyphicon glyphicon-time" style="color: #999;margin-left: 1px;"></span>
          <span style="color: #999;margin-left: 1px;">
            {{ad?.createDate | date:'shortDate'}}  |  {{category[ad?.itemCategory]}}  |  {{adType[ad?.adType]}} </span>
        </div>

        <div style="border-bottom: 1px solid transparent; border-color:#999; color: #666;font-size: 16px; padding-bottom:5px;padding-top:5px;margin-bottom:10px;">
          Ad Details
        </div>

        <div class="row">
          <label class="col-md-5 control-label">Located In:</label>
          <div class="col-md-6">
            <address>
              {{ad?.locality}},{{ad?.cityName}}, {{ad?.stateName}}
            </address>
          </div>
        </div>

        <div class="row">
          <label class="col-md-5 control-label">Special Charactistics:</label>
          <div class="col-md-6">
            {{ad?.specialCharactistics}}
          </div>
        </div>
        <div class="row">
          <label class="col-md-5 control-label">Ease Of Access:</label>
          <div class="col-md-6">
            {{ad?.easeOfAccess}}
          </div>
        </div>
        <div *ngIf="!ad?.maintainPrivacy">
          <div class="row">
            <label class="col-md-5 control-label">Contact Person:</label>
            <div class="col-md-6">
              {{ad?.postedByName}}
            </div>
          </div>
          <div class="row">
            <label class="col-md-5 control-label">Contact Email:</label>
            <div class="col-md-6">
              {{ad?.contactEmail}}
            </div>
          </div>
          <div class="row">
            <label class="col-md-5 control-label">Contact Phone:</label>
            <div class="col-md-6">
              {{ad?.contactPhone}}
            </div>
          </div>
        </div>
        <div style="text-align: center;margin-top: 10px;" *ngIf="ad?.maintainPrivacy">
          <span>
          <button class="btn btn-primary" type="button">
          Send Interest
          </button>
        </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div style="margin-top: 10px;">
          <label class="control-label">Description:</label>
          <p>{{ad?.description || ad?.adTitle}}</p>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>